<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app">

        <div class="form-section">

            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>

        </div>

        <div class="images-section">

            <h2>Uploaded Files</h2>

            {% if files|length == 0 %}
                <p>No files uploaded yet.</p>
            {% endif %}

            {% for file in files %}
                <a href="{{ url_for('view_file', filename=file) }}">
                    {{ file }}
                </a>
            {% endfor %}

        </div>

        <div class="content-section">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% elif selected_file and file_content is not none %}
                <h3>Showing: {{ selected_file }}</h3>
                <pre>{{ file_content }}</pre>
            {% else %}
                <p>Select a file to view its content.</p>
            {% endif %}
        </div>


    </div>




</body>
</html>